<link rel="stylesheet" href="{{ url_for('static', filename='components/Sidebar.css') }}">
<script defer src="{{ url_for('static', filename='components/Sidebar.js') }}"></script>

<div class="sidebar">
    <div class="header">
        <a class="logo" href="/">
            <div class="logo-title">🥄 Mealano</div>
            <div class="logo-subtitle">plan your meals</div>
        </a>
    </div>

    <div class="search-bar">
        <a href="/search">{{ icon('search', 'search-icon') }}</a>
        <input type="search" value="{{ request.form.get('query', '') or request.args.get('q', '') }}" placeholder="Search for...">
    </div>

    <div class="menu">
        <a href="{{ url_for('dessert_drinks_page.dessert_view') }}" class="menu-item {{ 'active' if current_page == 'dessert_drinks_page.dessert_view' else '' }}">
            {{ icon('cupcake') }}
            <div class="menu-text">Dessert/Drinks</div>
        </a>
        <a href="/my-plan" class="menu-item {{ 'active' if current_page == 'meal_plan.my_plan' else '' }}">
            {{ icon('calendar') }}
            <div class="menu-text">Meal Planner</div>
        </a>
        <a href="/recipes" class="menu-item {{ 'active' if current_page == 'browse.recipes' else '' }}">
            {{ icon('book') }}
            <div class="menu-text">Saved Recipes</div>
{#            {{ icon('chevron-down') }}#}
        </a>
{#        <div class="menu-item {{ 'active' if current_page == 'main.ingredients' else '' }}">#}
{#            {{ icon('shopping-cart') }}#}
{#            <div class="menu-text">Ingredients</div>#}
{#            {{ icon('chevron-down') }}#}
{#        </div>#}
{#        <div class="menu-item {{ 'active' if current_page == 'main.allergies' else '' }}">#}
{#            {{ icon('users') }}#}
{#            <div class="menu-text">Allergies, Preferences</div>#}
{#        </div>#}
    </div>

    <div class="account-container">
        <a href="/account" class="icon-circle">
            {{ icon('user') }}
        </a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </div>
</div>
