@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-bottom: 20px; /* adjust the value as you like */
}

.meal-table {
  width: 100%;
  border-collapse: collapse;
}

.meal-table th {
  padding: 12px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.meal-table td {
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 150px;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.week-range {
  text-align: center;
  font-weight: bold;
  padding: 4px 10px !important;
  line-height: 1.2;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  height: 1px;
}

