/* Search Page */
.search-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.search-bar-autocomplete {
    position: relative;
    flex-grow: 1;
}

.search-form > div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-form input,
.search-form select {
    width: 100%;
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.autocomplete-suggestions {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1000;
    width: 100%;
}
.autocomplete-suggestions div {
    padding: 4px 8px;
    cursor: pointer;
}
.autocomplete-suggestions div:hover {
    background: #eee;
}

#sortRecipesBy {
    width: auto;
    display: inline-block;
}

/* Search Results Grid */
.search-results {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

@media (min-width: 600px) {
    .search-results {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.card {
    display: flex;
    flex-direction: column;
}

.search-results .card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    /*max-width: 100px;*/
    /*max-height: 100px;*/
}