  
body {
    font-family: sans-serif;
    background-color: #f5f6f8;
    text-align: center;
    margin: 0;
    padding: 2em;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 2em;
}

.diet-box {
    display: inline-block;
    background: white;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    margin-top: 2em;
}

.diet-options {
    margin: 2em 0;
}

.diet {
    padding: 0.5em 1em;
    margin: 0.2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.diet.selected {
    background-color: lightgreen;
}

.calorie-form,
.macro-notes,
.generate-btn {
    margin: 2em 0;
}

.macro-notes li {
    list-style: none;
    margin: 0.5em 0;
}

.popup {
    display: none;
    background: #4CAF50;
    color: white;
    padding: 1em;
    margin-bottom: 2em;
    border-radius: 5px;
    width: fit-content;
    margin-inline: auto;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: space-around;
    padding: 0.8em 0;
    box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
    font-weight: bold;
}

.bottom-nav a {
    color: #333;
    text-decoration: none;
    font-size: 1em;
}

.bottom-nav a:hover {
    color: #4CAF50;
}