{% extends 'base.html' %}
{% block title %}Mealano - Not Found{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='404.css') }}">
{% endblock %}

{% block content %}
  <header>
    <h1>Page Not Found (404)</h1>
  </header>

  <main>
    <p>It seems the page you are looking for does not exist or has been moved.</p>
    <p>Please check the URL or return to the <a href="{{ url_for('dashboard.dashboard_view') }}">dashboard</a>.</p>
  </main>
{% endblock %}
