{% extends 'base.html' %}
{% block title %}Account{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='account.css') }}">
{% endblock %}

{% block content %}
    <div class="account-page">
        <div class="account-header">
            <div class="avatar-placeholder">{{ icon('user') }}</div>
            <div>
                <h2 class="account-name">{{ user.username }}</h2>
                <p class="account-email">{{ user.email }}</p>
            </div>
        </div>

        <form class="account-form" method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(class="form-control" + (' is-invalid' if form.username.errors else '')) }}
                {% for error in form.username.errors %}
                    <div class="invalid-tooltip">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control" + (' is-invalid' if form.email.errors else '')) }}
                {% for error in form.email.errors %}
                    <div class="invalid-tooltip">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </form>
    </div>
{% endblock %}
