{% extends 'base.html' %}
{% block title %}Mealano - Dashboard{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
    <script src="{{ url_for('static', filename='dashboard.js') }}"></script>
{% endblock %}

{% block content %}
  <header>
    <h1>Mealano 🥄</h1>
  </header>

  <main>
    <h2>Create your meal plan right here in seconds</h2>

    <div class="diet-box">
      <h3>Preferred Diet</h3>

      <div class="diet-options">
        <button class="diet selected">Anything</button>
        <button class="diet">Keto</button>
        <button class="diet">Mediterranean</button>
        <button class="diet">Paleo</button>
        <button class="diet">Vegan</button>
        <button class="diet">Vegetarian</button>
      </div>

      <div class="calorie-form">
        <label for="calories">I want to eat</label>
        <input type="number" name="calories" value="1800" min="0"> calories per day.
        <br><br>
        in
        <select name="meals">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3" selected>3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select> meals
      </div>

      <div class="macro-notes">
        <ul>
          <li style="color: orange;">● Carbs (g): <span id="carbs-val">90</span></li>
          <li style="color: teal;">● Fat (g): <span id="fat-val">40</span></li>
          <li style="color: purple;">● Protein (g): <span id="protein-val">0</span></li>
        </ul>
      </div>

      <div class="health-options">
        <h4>Health Preference</h4>
        <div class="health-choice">
          <label><input type="radio" name="health" value="veryHealthy"> 💚 Very Healthy</label>
          <label><input type="radio" name="health" value="mediumHealthy"> 💛 In between Healthy and Unhealthy</label>
          <label><input type="radio" name="health" value="noPreference" checked> 🩶 I don’t care</label>
        </div>
      </div>

      <div>
        <button class="generate-btn">Generate</button>
      </div>
    </div>

    <!-- Container for results -->
    <div id="recipe-results"></div>
  </main>
{% endblock %}
