<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mealano</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
  <script src="dashboard.js"></script>
</head>

<body>
  <header>
    <h1>Mealano 🥄</h1>
  </header>

  <main>
    <div class="popup" id="successPopup">Logged in successfully!</div>

    <h2>Create your meal plan right here in seconds</h2>

    <div class="diet-box">
      <h3>Preferred Diet</h3>

      <div class="diet-options">
        <button class="diet selected">Anything</button>
        <button class="diet">Keto</button>
        <button class="diet">Mediterranean</button>
        <button class="diet">Paleo</button>
        <button class="diet">Vegan</button>
        <button class="diet">Vegetarian</button>
      </div>

      <div class="calorie-form">
        <label>I want to eat</label>
        <input type="number" name="calories" value="1800" min="0"> calories
        <br><br>
        in
        <select name="meals">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5" selected>5</option>
          <option value="6">6</option>
        </select> meals
      </div>

      <div class="macro-notes">
        <ul>
          <li style="color: orange;">
            ● Carbs (g): <input type="number" name="minCarbs" value="90" min="0">
          </li>
          <li style="color: teal;">
            ● Fat (g): <input type="number" name="minFat" value="40" min="0">
          </li>
          <li style="color: purple;">
            ● Protein (g): <input type="number" name="minProtein" value="90" min="0">
          </li>
        </ul>
      </div>

      <div>
        <button class="generate-btn">Generate</button>
      </div>
    </div>

    <!-- Container for results -->
    <div id="recipe-results" style="margin-top: 3em;"></div>
  </main>

  <nav class="bottom-nav">
    <a href="/browse">Browse Meals</a>
    <a href="/my-plan">My Meal Plan</a>
    <a href="/account">Account</a>
    <a href="{{ url_for('auth.logout') }}">Logout</a>
  </nav>
</body>
</html>
