{% extends 'base.html' %}
{% block title %}{{ recipe.title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='recipe_details.css') }}">
    <script src="{{ url_for('static', filename='dashboard.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="details-page">
        <h2 class="details-title">{{ recipe.title }}</h2>

        <div class="details-img-meta">
            <img src="{{ recipe.image }}" alt="{{ recipe.title }}" style="max-width: 300px;">
            <div class="details-meta">
                {% if recipe.diets and recipe.diets|length > 0 %}
                    <div class="tags">
                        {% for diet in recipe.diets %}
                            <span class="tag">{{ diet }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
                <p><strong>Ready in:</strong> {{ recipe.readyInMinutes }} minutes</p>
                <p><strong>Servings:</strong> {{ recipe.servings }}</p>
            </div>
        </div>

        <div class="details-body">


            <p><strong>Summary:</strong> {{ recipe.summary|safe }}</p>
            <h2>Ingredients</h2>
            <ul>
                {% for ingredient in recipe.extendedIngredients %}
                    <li>{{ ingredient.original }}</li>
                {% endfor %}
            </ul>
            <h2>Instructions</h2>
            <p>{{ recipe.instructions|safe }}</p>
        </div>

        <div class="details-actions">
            <button class="btn btn-primary" id="details-save-btn" data-recipe='{{ recipe | tojson | safe }}'>
                {{ icon('saved' if recipe.saved else "save") }}
                {{ "Saved" if recipe.saved else "Save" }}
            </button>
            {% if recipe.source_url and recipe.source_name %}
                <a class="btn btn-outline-primary" href="{{ recipe.source_url }}">{{ icon('external-link') }}{{ recipe.source_name }}</a>
            {% else %}
                <a class="btn btn-outline-primary disabled" aria-disabled="true">No Source</a>
            {% endif %}
        </div>
    </div>
{% endblock %}