{% extends 'base.html' %}
{% block title %}Saved Recipes{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
    <script src="{{ url_for('static', filename='recipes.js') }}"></script>
{% endblock %}

{% block content %}
    <h1>Saved Recipes</h1>

    <div class="recipes-page">
        <div class="form-group">
            <label for="sortRecipesBy">Sort by</label>
            <select name="sort" id="sortRecipesBy" class="form-select">
                <option value="name" {{ 'selected' if sort_by == 'name' }}>Name</option>
                <option value="recent" {{ 'selected' if sort_by == 'recent' }}>Most Recent</option>
            </select>
        </div>

        <div class="search-results">
            {% for recipe in recipes %}
                <a class="card" href="{{ url_for('browse.recipe_details', recipe_id=recipe.id) }}">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}"
                         onerror="this.onerror=null;this.src='{{ url_for('static', filename='img/spoon-investigation.png') }}';"
                         style="max-width: 100px; max-height: 100px;">
                    {{ recipe.title }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}